{% extends "base.html" %}

{% block content %}

<script src="static/js/camera.js"></script>

<div class="content">
    <div class="user__camera" style="position: relative;">
        <video id="cameraFeed" style="width: 100%; height: auto; display: block;" autoplay></video>
        <img id="placeholderImage" 
         src="./static/images/camera-off-icon.png" 
         alt="Placeholder">
    </div>

    <div class="control__panel">
        <div class="control__panel-button" >Deepfake Generation</div>
        <div class="control__panel-status"></div>
        <button class="control__panel-button" onclick="toggleCamera()">For realtime gen</button>
        <div class="control__panel-params"></div>
    </div>
    
</div>
{% endblock content %}

