{% extends "base.html" %}

{% block content %}
    <div class="content">
        <div class="user__camera">
            <img src="./static/images/cuoi-tuan.png" alt="User Camera" style="width: 100%; height: 100%; object-fit: cover;">
        </div>

        <div class="control__panel">
            <button class="control__panel-button"></button>

            <div class="control__panel-status"></div>

            <div class="control__panel-params"></div>
        </div>
    </div>
{% endblock content %}