{% extends "layout.html" %}
{% block content %}
<body>
    <div class="app">
        <div class="header">
            <div class="header__logo">
                <img src="./assets/images/logo.png" alt="DeepMirror Logo">
            </div>
            
            <nav class="header__nav">
                <a href="#" class="header__nav-link">Deepfake Detection</a>
                <a href="#" class="header__nav-link">Deepfake Generation</a>
            </nav>

        </div>

        <div class="content">
            <div class="user__camera">
                <img src="./assets/images/cuoi-tuan.png" alt="User Camera" style="width: 100%; height: 100%; object-fit: cover;">
            </div>

            <div class="control__panel">
                <button class="control__panel-button"></button>

                <div class="control__panel-status"></div>

                <div class="control__panel-params"></div>
            </div>
        </div>

    </div>
</body>
{% endblock content %}