{% extends "base.html" %}

{% block content %}

<script src="static/js/camera.js"></script>

<div class="content">
    <div class="user__camera" style="position: relative;">
        <video id="cameraFeed" style="width: 100%; height: auto; display: block;" autoplay></video>
        <img id="placeholderImage" 
         src="./static/images/camera-off-icon.png" 
         alt="Placeholder">
    </div>

    <div class="control__panel">
        <button class="control__panel-button" onclick="DeepFake_Detect()">Deepfake Detection</button>

        <div class="control__panel-status">
            <button class="control__panel-status">Status</button>
            <!-- <div class="status-infor">Deepfake detection turned off</div> -->
        </div>

        <div class="control__panel-params">
            <button class="control__panel-params">Parameters</button>
        </div>
        <div class="button-group">
            <button class="toggle-btn">Toggle camera</button>
            <button class="upload-btn">Upload video</button>
        </div>
    </div>
    
</div>
{% endblock content %}

