{% extends "base.html" %}

{% block content %}
<script src="{{ url_for('static', filename='js/camera.js') }}"></script>
<script src="{{ url_for('static', filename='js/detect.js') }}"></script>

<div class="content">
    <div class="user__camera">
        <video id="cameraFeed" autoplay></video>
        <img id="placeholderImage" src="{{ url_for('static', filename='images/camera-off-icon.png') }}" alt="Camera Off">
    </div>

    <div class="control__panel">
        <div class="control__panel-left">
            <button class="control__panel-detect"
            data-icon-on="{{ url_for('static', filename='images/detect_on.png') }}"
            data-icon-off="{{ url_for('static', filename='images/detect_off.png') }}">
            <img src="{{ url_for('static', filename='images/detect_off.png') }}" class="icon eye_icon_off"> Deepfake Detection: Off
            </button>

            <!-- Collapsible for Parameters -->
            <div class="collapsible-section">
                <button class="control__panel-info" onclick="toggleCollapse('parametersInfo')">Parameters</button>
                <div class="collapsible-content" id="parametersInfo">
                    <p>Threshold: 80%<br>Detection Mode: Real-time</p>
                </div>
            </div>

        </div>
        
        <div class="control__panel-right">
                        <!-- Collapsible for Status -->
            <div class="collapsible-section">
                <button class="control__panel-info" onclick="toggleCollapse('statusInfo')">Status</button>
                <div class="collapsible-content" id="statusInfo">
                    <p>Current system status: Running</p>
                </div>
            </div>

            

            <div class="button-group">
                <button class="toggle-btn" onclick="toggleCamera()">Toggle Camera</button>
                <button class="upload-btn" onclick="toggleCollapse('videoContainer')">Upload Video</button>
                <input type="file" id="videoUpload" accept="video/*" multiple>
            </div>
            
            <!-- New Collapsible Video Section -->
            <div class="collapsible-content" id="videoContainer">
                <div class="video-grid" id="videoGrid">
                    <!-- Videos will be dynamically added here -->
                </div>
            </div>
        </div>

    </div>
    
</div>

{% endblock content %}
