{% extends "base.html" %}

{% block content %}
<body class="bg-white text-gray-800">

<section class="relative">
    <img src="../static/images/banner.png" alt="Deepfake" class="banner"/>
    <div class="overlay">
        <div class="text-center text-white">
            <h1 class="text-6xl font-bold text-[#fd8ba8]" ><b>DEEPMIRROR</b></h1>
            <p class="mt-4">
                A localhost webapp<br/><b>Deepfake detection and generation
            </p>
            <button class="btn-primary mt-6">Start Now</button>
        </div>
    </div>
</section>

 <section id="services" >
    <div class="container">

        <div class="section-header">
            <h2 class="section-title wow fadeInDown">About Us</h2>
            <p class="wow fadeInDown">We are group 1<br>Group member:</p>
        </div>

        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-futbol-o"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Nguyen Vinh Nghi</h4>
                            <p>Nickname: Winter24</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-compass"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Nguyen Vinh Nghi</h4>
                            <p>Nguyen Vinh Nghi</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-database"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Nguyen Vinh Nghi</h4>
                            <p>Nguyen Vinh Nghi</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
            
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-bar-chart"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Nguyen Vinh Nghi</h4>
                            <p>Nguyen Vinh Nghi</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-paper-plane-o"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Nguyen Vinh Nghi</h4>
                            <p>Nguyen Vinh Nghi</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-bullseye"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Nguyen Vinh Nghi</h4>
                            <p>Nguyen Vinh Nghi</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
            </div>
        </div><!--/.row-->    
    </div><!--/.container-->
</section><!--/#services-->


</body>
</html>

{% endblock content %}